@charset "utf-8";
/* CSS Document */


#storboxen{
	width:100%;
	height:100%;
	position:absolute;
	margin:0;
	padding:0;
	overflow:hidden;
}

.länkbox{
	width:80%;
	height:25px;
	fontsize:12px;
	font-family:Verdana, Geneva, sans-serif;
	color:#F00;	
	background-color:#91935E;
	margin:20px;
	
}

body{
margin:0;	
}
header{
	width:100%;
	height:20%;
	background-color:#DBDCBE;
	font-family:Verdana, Geneva, sans-serif;
	font-size:30px;
	color:#91935E;
	overflow:hidden;
	padding-left:40px;
}

aside{
	height:80%;
	width:20%;
	float:left;
	background-color:#91935E;
}

article{
	width:80%;
	height:77%;
	background-image:url(nobelpriset.jpeg);
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	color:#FFF;
	overflow:hidden;
	float:left;
	
}
footer{
	height:5%;
	width:100%;
	font-size:10px;
}
ul {
	list-style:none;
	text-align:center;
	padding:0;
	margin:0;
}
li{
	
	height:100%;
	width:20%;
	float:left;
	text-align:center;
	font-size:10px;	
	
}
p{
	padding-left:25px;
	padding-right:25px;	
}